// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


//
// Variables
// --------------------------------------------------


//== Colors
//
$dc-bg-color: #0082D6;

$color_correct: green;
$color_wrong: red;
$color_notgraded: blue;
$color_noquestion: gray;
$color_linkprotected: gray;

//island colors
$primary: #225533 !default;
$secondary: #0055bb !default;
$accent-warm: #bbeeff !default;
$accent-medium: #88dddd !default;
$accent-cold: #44bbcc !default;

$BLUE: 	#317FB6;
$GREEN: #00C97C;
$RED: 	#E55C46;
$ORANGE: #F9CA73; 

$font-sans: "Open Sans", Helvetica, sans-serif;

$font-serif: Arvo, Serif;

$BLUE_TRANS: 	rgba($BLUE,.45);
$GREEN_TRANS: rgba($GREEN,.45);
$RED_TRANS: 	rgba($RED,.45);
$ORANGE_TRANS: rgba($ORANGE,.45);

$BLUE_LIGHT: 	rgb(153, 204, 255);

$NAVY: 	#001F3F;
$AQUA: 	#7FDBFF;
$TEAL: 	#39CCCC;
$OLIVE: #3D9970; 
$LIME: 	#01FF70;
$YELLOW: #FFDC00; 
$MAROON: #85144B; 
$FUCHSIA: #F012BE; 
$PURPLE: #B10DC9; 
$BLACK: #111111; 
$GRAY: 	#AAAAAA;
$DARKGRAY: #A9A9A9;
$SILVER: #DDDDDD;

//church vars
$gray: #807f7d;
$secondary: #9a9994;
$orange: #f14e32;
$tan_darker: #e2e0d8;

$dove_light_blue: #51a3d4;
$dove_dark_blue: #0b2455;

