#be {

    .sidebar {
        padding: 1rem;

        ol {
            color: #fff;

            .h2, .h3, .h4, .h5, .h5 {
                font-size: 1rem;
            }
        }

        li a {
            line-height: 3rem;
        }

        .glyphicon {
            color: #fff;
        }

        a, button {
            padding: 0 .5rem 0 .5rem;
            color: #fff;
            fill: #fff;
            border: 2px solid #fff;
            border-radius: 8px;
            text-decoration: none;
        }

        a:hover, button:hover {
            background-color: #fff;
            border: 2px solid #fff;
            text-decoration: none;
        }

        .orangeBG a:hover, button:hover {
            color: $ORANGE;
            fill: $ORANGE;
        }

        .redBG a:hover, button:hover {
            color: $RED;
            fill: $RED;
        }

        .greenBG a:hover, button:hover {
            color: $GREEN;
            fill: $GREEN;
        }

        .blueBG a:hover, button:hover {
            color: $BLUE;
            fill: $BLUE;
        }

        .avatar {
            border: none;
        }

        a.avatar:hover {
            background-color: transparent;
            border: none;
        }

        #secondary-toggle {
            border: none;
            padding: 0;
        }

        p, h2 {
            color: #fff;
            text-align: center;
        }

        p {
            font-size: 1rem;
        }

        p.small {
            font-size: 1.1rem;
        }

        h2 {
            margin-top: .5rem;
            font-size: 2.5rem;
        }

        .sidebar-block {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }
    }
}
