#tip-rss, #tip-facebook, #tip-twitter, #tip-sound-cloud,#tip-instagram {
	font-size:80%;
	position:absolute; 
	text-align:center;
	display:none;
	white-space:nowrap;
}

.social-sharing {
	margin-left: auto;
	margin-right: auto;
}

.social-sharing-buttons {
	margin: 10px;
	display: inline-block;
}
.icon {
	width: 25px;
	height: 25px;
}
.social-amen-form {
	display:inline;
}