#be .textbook {
    counter-reset: h2;

    .content h1 {
        display: none;
    }
    //Font Sizes
    h2, h2:before, h3, h3:before {
        font-size: 2.5rem;
    }

    h4 {
        font-size: 2rem;
    }

    h5, blockquote, ul {
        font-size: 1.5rem;
    }

    p {
        font-family: $font-sans;
        font-weight: 300;
    }

    .study-default-image {
        width: 100%;
    }

    p.long-description {
        clear: both;
        padding-top: 1.5rem;
    }

    .h1-underline {
        display: block;
        float: left;
        width: 33.3333333%;
        height: 5px;
    }

    .h1-underline:nth-of-type(1) {
        background-color: $BLUE;
    }

    .h1-underline:nth-of-type(2) {
        background-color: $ORANGE;
    }

    .h1-underline:nth-of-type(3) {
        background-color: $GREEN;
    }

    article h1 {
        display: none;
    }

    h1.editor {
        background-color: $GREEN;
    }

    .h1-box small {
        color: white;
        font-size: 40%;
        margin-bottom: -25px;
    }

    h2:before {
        counter-increment: h2;
        content: counter(h2) "";
        display: block;
    }

    h2 {
        font-family: $font-sans;
        color: #fff;
        background-color: $BLUE;
        text-align: center;
        box-sizing: border-box;
        display: block;
        clear: both;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    h3 {
        color: $ORANGE;
        font-weight: 300;
        margin: 2.5rem 30px 1rem 30px;
    }

    h4 {
        font-weight: bold;
        margin: 2.5rem 30px 1rem 30px;
    }

    h5 {
        font-family: $font-sans;
        font-weight: bold;
        margin: 2.5rem 30px 1rem 30px;
    }

    blockquote {
        color: $DARKGRAY;
        font-family: $font-sans;
        font-weight: 300;
        border-left: 5px solid $ORANGE;
        line-height: 2.2rem;
        margin: 15px 15px 15px 15px;
    }

    ul {
        margin-left: 38px;
        padding-left: 20px;
        font-weight: 300;
    }

    a {
        color: $GREEN;
    }

    a:link {
        color: $GREEN;
        text-decoration: underline;
    }

    a:hover {
        color: lighten( $GREEN, 9% );
        text-decoration: underline;
    }

    a:visited {
        color: darken( $GREEN, 10% );
        text-decoration: underline;
    }

    .article-panel {
        clear: left;
    }

    .study-sharing {
        width: 100%;
    }
}

@media (min-width: 768px) {	
	.textbook p, .textbook h3, .textbook h4, .textbook h5, .textbook ul, .textbook blockquote {
		margin-left: 2rem;
		margin-right: 2rem;
	}
}
